/*
Student Info: Name=YueHu, ID=12980
Subject: CS557C_HW04_Fall_2016
Author: YUE
Filename: cartPage.css.css
Date and Time: Oct 30, 2016 4:54:46 PM
Project Name: CS557C_HW4
*/
/* 
    Created on : Oct 30, 2016, 4:54:46 PM
    Author     : YUE
*/


.halfScreen {
    background-color:green;
    display:inline-block;
}